@font-face {
  font-family: 'iconfont';
  /* project id 779568 */
  src: url('//at.alicdn.com/t/font_779568_c3yo7y1lt7p.eot');
  src: url('//at.alicdn.com/t/font_779568_c3yo7y1lt7p.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_779568_c3yo7y1lt7p.woff2') format('woff2'), url('//at.alicdn.com/t/font_779568_c3yo7y1lt7p.woff') format('woff'), url('//at.alicdn.com/t/font_779568_c3yo7y1lt7p.ttf') format('truetype'), url('//at.alicdn.com/t/font_779568_c3yo7y1lt7p.svg#iconfont') format('svg');
}
