@font-face {
  font-family: 'iconfont';  /* project id 779568 */
  src: url('//at.alicdn.com/t/font_779568_eyrxia5pxph.eot');
  src: url('//at.alicdn.com/t/font_779568_eyrxia5pxph.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_779568_eyrxia5pxph.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_779568_eyrxia5pxph.woff') format('woff'),
  url('//at.alicdn.com/t/font_779568_eyrxia5pxph.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_779568_eyrxia5pxph.svg#iconfont') format('svg');
}
