.videoMeeting__icon {
    cursor: pointer;
    //position: absolute;
    //bottom: 23px;
    //left: 12px;
    width: 25px;
    height: 20px;
    box-sizing: border-box;
    padding: 5px;
    background: url(./../../../../../assets/sider_right/video.png) center center
      no-repeat;
    background-size: contain;
  }
  
  .videoMeeting__wrapper {
    width: 368px;
    padding: 16px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(89, 89, 89, 1);
    line-height: 20px;
    .videoMeeting__topic {
      margin-bottom: 16px;
      .videoMeeting__topic_title {
        margin-bottom: 8px;
      }
      .videoMeeting__topic_content {
        display: flex;
        .videoMeeting__topic_content_save {
          margin-right: 5px;
        }
        .videoMeeting__topic_content_title {
          width: 100%;
        }
      }
    }
    .videoMeeting__memberNote {
      margin-bottom: 8px;
      .videoMeeting__memberNote_title {
        margin-bottom: 8px;
      }
      .videoMeeting__memberNote_content {
        .videoMeeting__memberNote_content_mention {
          margin-bottom: 8px;
        }
        .videoMeeting__memberNote_content_textarea {
        }
      }
    }
    .videoMeeting__prompt {
      margin-bottom: 0px;
      height: 17px;
      font-size: 12px;
      font-weight: 400;
      color: rgba(140, 140, 140, 1);
      line-height: 17px;
    }
    .videoMeeting__submitBtn {
      text-align: right;
    }
  }
  