<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="聆悉,聆悉协作,协同,协作办公" />
    <meta name="description" content="专注协作办公领域" />
    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <title>聆悉</title>
    <!-- <link rel="shortcut icon" href="static/bitbug_favicon.ico" />
    <link rel="stylesheet" href="./lingxi_loading_page.css" />
    <link rel="stylesheet" href="./luckysheet/css/main.min.css" />
    <link rel="stylesheet" href="./luckysheet/plugins/plugins.min.css" />
    <link rel="stylesheet" href="./luckysheet/plugins/css/pluginsCss.min.css" /> -->
    <!-- <script>
      // 为了过渡加载过程缓慢
      var set_lingxi_html_loading = setInterval(function() {
        if (window.set_lingxi_html_loading_true) {
          console.log('sssssssssaaaas', 11)
          clearInterval(set_lingxi_html_loading)
          window.set_lingxi_html_loading_true = null
          document.getElementById('lingxi_html_loading').style.display = 'none'
        }
        console.log('sssssssssaaaas', 22)
      }, 500)
    </script> -->
  </head>
  <body>
    <!-- <div id="lingxi_html_loading_page">
      <div class="lingxi_html_loading_page_content">
        <div class="lingxi_html_loading_page_logo">
          <img src="static/lingxi_logo.png" alt="" />
        </div>
        <div class="lingxi_html_loading_page_dec">连接共生 协同共享</div>
        <div class="lingxi_html_loading_page_progress_wrapper">
          <div
            id="lingxi_html_loading_page_progress"
            class="lingxi_html_loading_page_progress"
            style="width: 0%; height: 16px;background: linear-gradient(45deg, #5ba7ff 0%, #b5f9ff 100%);"
          ></div>
        </div>
        <div class="lingxi_html_loading_page_tip">Loading…</div>
      </div>
    </div> -->
    <!-- <script>
      // 为了过渡加载过程缓慢
      if (window.location.hash.indexOf('#/technological/simplemode') != -1) {
        // console.log('ssssssssz', 111, window.loadLingxiComplete)
        if (!window.loadLingxiComplete) {
          setTimeout(function() {
            if (window.loadLingxiComplete) return //代表已经加载好了
            document.getElementById('lingxi_html_loading_page').style.display =
              'flex'
            var setLingxiPageLoadingInterVal = setInterval(function() {
              var progress_node = document.getElementById(
                'lingxi_html_loading_page_progress'
              )
              let progress_node_width = progress_node.style.width
              let progress_node_width_number = Number(
                progress_node_width.replace('%', '')
              )
              if (progress_node_width_number > 90) {
                clearInterval(setLingxiPageLoadingInterVal)
                return
              }
              progress_node.style.width = progress_node_width_number + 5 + '%'
              // console.log('ssssssssz2', progress_node.style.width)
            }, 1000)
          }, 2000)
        }
      }
    </script> -->
    <div id="root"></div>
    <div
      id="message_mout_parent"
      style="position: relative; z-index: 100000"
    ></div>
  </body>
  <!-- <script src="./luckysheet/plugins/js/plugin.min.js" defer="defer"></script>
  <script src="./luckysheet/main.min.js" defer="defer"></script> -->
  <!-- <script src="./pdf/build/pdf.js"></script> -->
  <!-- <script>
    pdfjsLib.GlobalWorkerOptions.workerSrc = './pdf/build/pdf.worker.js'
  </script> -->
  <!-- <script>
    window.onload = function() {
      window.loadLingxiComplete = true
      // requestAnimationFrame(function() {
      let node = document.getElementById('lingxi_html_loading_page')
      // console.log('ssssssssz', 2212)
      document.getElementById('lingxi_html_loading_page_progress').style.width =
        '100%'
      setTimeout(function() {
        node.setAttribute('class', 'lingxi_html_loading_page_hide')
        setTimeout(function() {
          node.style.display = 'none'
        }, 300)
      }, 300)
      setTimeout(function() {
        var secScript2 = document.createElement('script')
        secScript2.setAttribute('type', 'text/javascript')
        secScript2.setAttribute('src', './luckysheet/plugins/js/plugin.min.js')
        document.body.insertBefore(secScript2, document.body.lastChild)

        var secScript3 = document.createElement('script')
        secScript3.setAttribute('type', 'text/javascript')
        secScript3.setAttribute('src', './luckysheet/main.min.js')
        document.body.insertBefore(secScript3, document.body.lastChild)

        var secScript = document.createElement('script')
        secScript.setAttribute('type', 'text/javascript')
        secScript.setAttribute('src', './pdf/build/pdf.js')
        document.body.insertBefore(secScript, document.body.lastChild)
        pdfjsLib.GlobalWorkerOptions.workerSrc = './pdf/build/pdf.worker.js'

      }, 3000)

      // })
    }
  </script> -->

</html>
