.addTaskModalContent .addTaskModalSelectProject {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectProject_and_groupList {
  display: flex;
  flex-wrap: wrap;
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectProject_and_groupList .groupList__wrapper {
  margin-left: 16px;
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectFileFolder {
  margin-right: auto;
  margin-top: -5px;
  margin-left: 10px;
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectFileFolder span {
  display: inline-block;
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectFileFolder span input {
  display: inline-block;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectFileFolder span input::-webkit-input-placeholder {
  color: #595959;
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectFileFolder span input:-moz-input-placeholder {
  color: #595959;
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectFileFolder span input:-ms-input-placeholder {
  color: #595959;
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectFileFolder span i {
  display: inline-block;
  color: #595959;
  width: 26px;
  height: 16px;
  right: 36px;
  transform: scaleX(1.7) scaleY(1.2) translateY(2px) translateX(25px);
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectFileFolder span:hover i {
  display: inline-block;
  color: #595959;
  width: 26px;
  height: 16px;
  right: 36px;
  transform: scaleX(1.5) scaleY(1.5) translateY(2px) translateX(25px);
}
.addTaskModalContent .addTaskModalSelectProject .addTaskModalSelectFileFolder .ant-input:hover {
  border: none !important;
}
.addTaskModalContent .addTaskModalTaskTitle {
  margin-bottom: 8px;
}
.addTaskModalContent .addTaskModalFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addTaskModalContent .addTaskModalFooter .addTaskModalOperator {
  max-width: 80%;
}
.addTaskModalContent .addTaskModalFooter .confirmBtnRight {
  margin-left: auto;
}
.org_selected_out {
  display: flex;
  height: 32px;
  line-height: 26px;
  font-size: 14px;
  color: #595959;
  margin-right: 16px;
  cursor: pointer;
}
.org_selected_out .type_logo {
  font-size: 18px;
  line-height: 24px;
  margin-right: 2px;
}
.org_selected_out .down_logo {
  font-size: 16px;
  margin-left: 2px;
}
.org_selected_out:hover {
  color: #40A9FF;
}
