@import '../../../../../../globalset/css/constant.less';

.drop_card {
  width: 188px;
  background: rgba(255, 255, 255, 1);
  // box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  // padding   : 12px;
  // margin-top: 8px;
  max-height: 222px;
  overflow: auto;

  .specific_example_content_out {
    margin-bottom: 20px;
  }

  .specific_example_content_out:last-child {
    margin-bottom: 0;
  }

  .specific_example_content {
    overflow: hidden;
    background-color: #ffffff;
    // padding         : 0 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    // align-items     : center;
    .card_item_name {
      flex: 1;
    }
  }

  .time_area {
    width: auto;
    border-radius: 4px;
    line-height: 22px;
    padding: 4px;
    color: #ffffff;
    margin-top: 12px;
  }
}

//三角形
.triangle {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  position: absolute;
  top: 0px;
  left: 119px;
}

.triangle:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  margin-left: -10px;
  z-index: -1;
  filter: blur(1px);
}

.sections {
  position: absolute;
  right: 30px;
  display: flex;
  bottom: 36px;
}

.card_button {
  height: 32px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 0 9px;
  // position     : absolute;
  // right           : 30px;
  // bottom             : 32px;
  line-height: 32px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  z-index: 6;
  margin-right: 12px;
}

.card_button:hover {
  color: #40a9ff;
}

.summary_item {
  display: flex;
  padding: 0px !important;
  z-index: 0 !important;
  border-radius: 20px !important;
  overflow: hidden;

  .summary_item_left {
    border-radius: 20px 0 0 20px !important;
    border-right: none !important;
  }

  .summary_item_right {
    background-color: #e9ecf2 !important;
    border-radius: 0 20px 20px 0 !important;
    box-sizing: border-box;
    border: 1px solid rgba(167, 176, 192, 0.7);
    border-left: none;
  }

  .summary_item_left_full {
    border-radius: 20px !important;
  }

  .summary_item_right_full {
    border-radius: 20px !important;
    border: 1px solid rgba(167, 176, 192, 0.7) !important;
  }
}

.board_fold_complete {
  // background: url('../../asset/board_fold_complete.png') 0 0 repeat-x;
  // background-color: #E9ECF2;
  background-color: #91d5ff;
}

.board_fold_due {
  // background: url('../../asset/board_fold_due.png') 0 0 repeat-x;
  background-color: #ffccc7;
}

.board_fold_ding {
  // background: url('../../asset/board_fold_doing.png') 0 0 repeat-x;
  background-color: #91d5ff;
}

.time_mode_wrapper {
  z-index: 6;
  display: flex;
  width: 168px;
  height: 32px;
  background: #ffffff;
  box-shadow: 12px 12px 33px 0px rgba(102, 144, 255, 0.1),
    6px 6px 20px 0px rgba(87, 92, 118, 0.1);
  border-radius: 16px;
  z-index: 6;
  .time_mode_selector {
    flex: 1;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
    line-height: 32px;
    cursor: pointer;
  }
  .time_mode_selector:hover {
    color: #40a9ff;
  }
}
.time_mode_selected {
  background-color: #6294ff !important;
  color: #ffffff !important;
  border-radius: 16px;
}
