.wrapper {
  height: 22px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  line-height: 22px;
}
.wrapper .title {
  display: inline-block;
}
.wrapper .title p {
  display: inline-block;
  cursor: pointer;
}
.wrapper .title p span {
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.wrapper .title p span:first-child {
  width: 16px;
  height: 16px;
  background-size: contain;
}
.wrapper .title p span:last-child {
  cursor: pointer;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  background-size: contain;
}
.wrapper .title p:hover {
  color: #1890ff;
}
.wrapper .title p:hover span:first-child {
  background: url(../../../../../../assets/workbench/project_experience_active.png) no-repeat;
  background-size: contain;
}
.wrapper .title p:hover span:last-child {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  background: url(../../../../../../assets/workbench/arrow_down_active.png) no-repeat;
  background-size: contain;
}
.wrapper .active {
  display: inline-block;
}
.wrapper .active p {
  color: #1890ff;
}
.wrapper .active p span:first-child {
  background: url(../../../../../../assets/workbench/project_experience_active.png) no-repeat;
  background-size: contain;
}
.wrapper .active p span:last-child {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  background: url(../../../../../../assets/workbench/arrow_down_active.png) no-repeat;
  background-size: contain;
}
.addNewProject__wrapper {
  background: #fff;
}
.addNewProject__wrapper .addNewProject__content {
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  color: #595959;
  line-height: 32px;
}
.addNewProject__wrapper .addNewProject__content .addNewProject__content_item {
  cursor: pointer;
}
.addNewProject__wrapper .addNewProject__content .addNewProject__content_item .addNewProject__content_item_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px 0 10px;
  vertical-align: middle;
  background-size: contain;
}
.addNewProject__wrapper .addNewProject__content .addNewProject__content_item .addNewProject__content_item_title {
  display: inline-block;
  vertical-align: middle;
}
.addNewProject__wrapper .addNewProject__content .addNewProject__content_item:hover {
  color: #1890ff;
}
.menuWrapper {
  max-height: 400px;
  overflow: auto;
}
.menuWrapper::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.menuWrapper::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #bfbfbf;
  background: #bfbfbf;
}
.menuWrapper::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px #e8e8e8;
  border-radius: 8px;
  background: #e8e8e8;
}
.org_selected_out {
  display: flex;
  height: 32px;
  line-height: 26px;
  font-size: 14px;
  color: #595959;
  margin-right: 16px;
  cursor: pointer;
}
.org_selected_out .type_logo {
  font-size: 18px;
  line-height: 24px;
  margin-right: 2px;
}
.org_selected_out .down_logo {
  font-size: 16px;
  margin-left: 2px;
}
.org_selected_out:hover {
  color: #40A9FF;
}
