.button_nomal_background {
  background: linear-gradient(90deg, #18a2ff 0%, #03c3f8 100%) !important;
}
.button_nomal_background:hover {
  background: linear-gradient(90deg, #0894ee 0%, #03bcf1 100%) !important;
}
.cardDetail *::selection {
  background: transparent !important;
  color: inherit !important;
}
.cardDetail {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  border-top: 2px solid #d9d9d9;
  display: flex;
}
.cardDetail .cardDetailMask {
  width: 100%;
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}
.cardDetail .cardDetail_left,
.cardDetail .cardDetail_right {
  height: 100%;
  width: 20px;
  background-color: #FFFFFF;
}
.cardDetail .cardDetail_middle {
  position: relative;
  flex: 1;
  overflow-y: auto;
  overflow-x: scroll;
  cursor: pointer;
}
.cardDetail .cardDetail_middle::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 12px;
}
.cardDetail .cardDetail_middle::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.cardDetail .cardDetail_middle::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.dateArea {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 0;
  width: auto;
  height: 64px;
  background-color: #ffffff;
  align-items: center;
}
.dateArea .dateAreaItem {
  width: auto;
  line-height: 24px;
}
.dateArea .dateAreaItem .dateTitle {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.dateArea .dateAreaItem .dateDetail {
  display: flex;
}
.dateArea .dateAreaItem .dateDetail .dateDetailItem {
  width: 44px;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}
.dateArea .dateAreaItem .dateDetail .dateDetailItem .dateDetailItem_date_no {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin: 0 auto;
}
.dateArea .dateAreaItem .dateDetail .dateDetailItem .nomal_date_no {
  color: rgba(0, 0, 0, 0.65);
}
.dateArea .dateAreaItem .dateDetail .dateDetailItem .weekly_date_no {
  color: rgba(0, 0, 0, 0.25);
}
.dateArea .dateAreaItem .dateDetail .dateDetailItem .holiday_date_no {
  color: #1890FF;
}
.dateArea .dateAreaItem .dateDetail .dateDetailItem .has_moletones_date_no {
  color: #ffffff;
  background-color: #FAAD14;
}
.dateArea .dateAreaItem .dateDetail .dateDetailItem .nomal_date_no:hover {
  background: #FFD591;
}
.dateArea .dateAreaItem .dateDetail .dateDetailItem .weekly_date_no:hover {
  color: rgba(0, 0, 0, 0.65);
}
.dateArea .dateAreaItem .dateDetail .dateDetailItem .has_moletones_date_no:hover {
  background: #FAAD14;
}
.dateArea .dateAreaItem .dateDetail .lcb_area {
  height: 24px;
  display: flex;
  justify-content: center;
}
.dateArea .dateAreaItem .dateDetail .has_lcb .lcb_logo {
  width: 18px;
  text-align: center;
  height: 18px;
  line-height: 18px;
  margin-top: 6px;
  color: #FAAD14;
}
.dateArea .dateAreaItem .dateDetail .has_lcb:hover .lcb_logo {
  background-color: #FAAD14;
  color: #FFFFFF;
  border-radius: 16px;
}
.dateArea .dateAreaItem .dateDetail .no_has_lcb .lcb_logo {
  width: 18px;
  text-align: center;
  height: 18px;
  line-height: 18px;
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  border-radius: 18px;
  display: none;
}
.dateArea .dateAreaItem .dateDetail .no_has_lcb:hover .lcb_logo {
  display: block;
}
.gantt_operate_top {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gantt_operate_top .dasheRect {
  position: absolute;
  border: 2px dashed #E8E8E8;
  background-color: #ffffff;
}
.gantt_operate_top .specific_example {
  position: absolute;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding: 2px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.gantt_operate_top .specific_example .specific_example_content {
  overflow: hidden;
  background-color: #ffffff;
  padding: 0 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gantt_operate_top .specific_example .card_item_name {
  flex: 1;
  height: 36px;
  line-height: 36px;
}
.gantt_operate_top .specific_example_no_start_time {
  border-radius: 40px 0 0 40px;
}
.gantt_operate_top .specific_example_no_due_time {
  border-radius: 0 40px 40px 0;
}
.ganttArea {
  display: flex;
  width: auto;
  align-items: center;
}
.ganttArea .ganttAreaItem {
  width: auto;
  line-height: 24px;
}
.ganttArea .ganttAreaItem .ganttDetail {
  display: flex;
  height: auto;
}
.ganttArea .ganttAreaItem .ganttDetail .ganttDetailItem {
  width: 44px;
  color: rgba(0, 0, 0, 0.65);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid #E8E8E8;
  box-sizing: border-box;
}
.ganttArea .ganttAreaItem .ganttDetail .ganttDetailItem .board_miletiones_flag {
  color: #FAAD14;
  font-size: 14px;
  width: 18px;
  height: 18px;
  position: relative;
  z-index: 0;
  top: 0px;
  left: 24px;
}
.ganttArea .ganttAreaItem .ganttDetail .ganttDetailItem .board_miletiones_flagpole {
  box-sizing: border-box;
  width: 2px;
  background-color: #FAAD14;
  position: relative;
  z-index: 0;
  top: -12px;
  left: 21px;
}
.ganttArea .ganttAreaItem .ganttDetail .ganttDetailItem .ganttDetailItem_item {
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 4px;
  height: 20px;
}
.ganttArea .ganttAreaItem .ganttDetail .ganttDetailItem .ganttDetailItem_item:hover {
  border: 2px dashed #e5e5e5;
}
.panel {
  height: auto;
  width: auto;
  position: relative;
}
.panel .listHead {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}
.panel .listHead .listHeadItem {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 228px;
  background-color: #ffffff;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.panel .listHead .listHeadItem .list_head_top .list_name {
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  font-weight: 600;
}
.panel .listHead .listHeadItem .list_head_top .org_name {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  margin-left: 4px;
}
.panel .listHead .listHeadItem .list_head_top .operator {
  font-size: 14px;
  margin-left: 6px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  display: none;
}
.panel .listHead .listHeadItem .list_head_top:hover * {
  color: #40A9FF;
}
.panel .listHead .listHeadItem .list_head_top:hover .operator {
  display: inline-block;
}
.panel .listHead .listHeadItem .list_head_top:hover .operator:hover {
  background: #e6f7ff;
}
.panel .listHead .listHeadItem .list_head_body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.panel .listHead .listHeadItem .list_head_body .no_time_card_area_out .no_time_card_area {
  cursor: pointer;
}
.panel .listHead .listHeadItem .list_head_body .no_time_card_area_out .no_time_card_area .no_time_card_area_card_item {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 2px;
  background: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.panel .listHead .listHeadItem .list_head_body .no_time_card_area_out .no_time_card_area .no_time_card_area_card_item .no_time_card_area_card_item_inner {
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  background-color: #ffffff;
}
.panel .listHead .listHeadItem .list_head_body .no_time_card_area_out .no_time_card_area .no_time_card_area_card_item .no_time_card_area_card_item_inner .card_item_name {
  flex: 1;
  height: 36px;
  line-height: 36px;
}
.panel .listHead .listHeadItem .list_head_body_inner {
  background: rgba(0, 0, 0, 0.02);
  width: 100%;
  overflow: auto;
  border-radius: 4px;
  margin: 12px 0;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  position: relative;
  z-index: 1;
}
.panel .listHead .listHeadItem .list_head_body_inner_init {
  height: 0;
  flex: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.panel .listHead .listHeadItem .animate_show {
  animation: animate_show 300ms ease;
  bottom: 0;
  flex: 1;
  opacity: 1;
}
.panel .listHead .listHeadItem .animate_hide {
  margin: 0;
  padding: 0;
  bottom: -100%;
  flex: 0;
  animation: animate_hide 300ms ease;
}
@keyframes animate_show {
  0% {
    flex: 0;
    bottom: -100%;
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    flex: 1;
    bottom: 0;
  }
}
@keyframes animate_hide {
  from {
    flex: 1;
    margin: 12px 0;
    padding: 10px;
    bottom: 0;
  }
  to {
    flex: 0;
    margin: 0;
    padding: 0;
    bottom: -100%;
  }
}
.panel .listHead .listHeadItem .list_head_body_inner::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 2px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.panel .listHead .listHeadItem .list_head_body_inner::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.15);
}
.panel .listHead .listHeadItem .list_head_body_inner::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 2px;
  background: #ffffff;
}
.panel .listHead .listHeadItem .list_head_footer {
  display: flex;
  font-size: 12px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.45);
  position: relative;
  z-index: 2;
}
@keyframes spin_show {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
@keyframes spin_hide {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0);
  }
}
.panel .listHead .listHeadItem .list_head_footer .spin_show {
  animation: spin_show 300ms ease;
  transform: rotate(-90deg);
}
.panel .listHead .listHeadItem .list_head_footer .spin_hide {
  animation: spin_hide 300ms ease;
  transform: rotate(0deg);
}
.panel .listHead .listHeadItem .list_head_footer .list_head_footer_tip {
  font-size: 10px;
  margin-right: 6px;
}
.groupHeadSet {
  height: 64px;
  width: 228px;
  background-color: #ffffff;
  position: absolute;
  box-shadow: 1px -3px 4px 0px rgba(0, 0, 0, 0.15);
  padding-right: 20px;
  border-bottom: 1px solid #E8E8E8;
  z-index: 2;
}
.groupHeadSet .set_content {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.groupHeadSet .set_content .group_back_to_board {
  width: 26px;
  height: 26px;
  background: #ffffff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  text-align: center;
  line-height: 26px;
}
.groupHeadSet .set_content .set_content_left {
  display: flex;
  justify-content: space-between;
  width: 72px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #f7f7f7;
  padding: 1px;
}
.groupHeadSet .set_content .set_content_left .set_content_left_left,
.groupHeadSet .set_content .set_content_left .set_content_left_right {
  line-height: 26px;
  width: 35px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}
.groupHeadSet .set_content .set_content_left .set_content_left_left {
  border-radius: 4px 0 0 4px;
}
.groupHeadSet .set_content .set_content_left .set_content_left_right {
  border-radius: 0 4px 4px 0 ;
}
.groupHeadSet .set_content .set_content_left .type_select {
  color: #ffffff;
}
.groupHeadSet .set_content .set_content_right {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.45);
}
.groupHeadSet .set_content .set_content_right .set_content_right_middle {
  margin: 0 6px;
}
.groupHeadSet .set_content .set_content_right:hover {
  color: #595959;
}
.content_filter_out {
  width: 248px;
  height: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
}
.content_filter_out .content_filter_top {
  position: relative;
  height: 56px;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.content_filter_out .content_filter_top .content_filter_title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.content_filter_out .content_filter_top .content_filter_close {
  position: absolute;
  right: 12px;
  top: 18px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}
.content_filter_out .content_filter_top .content_filter_close:hover {
  color: rgba(0, 0, 0, 0.8);
}
.content_filter_out .content_filter_bott {
  padding: 0 12px;
  height: auto;
}
.content_filter_out .content_filter_bott .filter_item {
  margin-top: 12px;
}
.content_filter_out .content_filter_bott .filter_item .filter_item_top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.content_filter_out .content_filter_bott .filter_item .filter_item_bott {
  margin-top: 8px;
}
.content_filter_out .content_filter_footer {
  border-top: 1px solid #E8E8E8;
  margin-top: 12px;
  padding: 12px;
}
.content_filter_out .content_filter_footer .check_button {
  width: 100%;
  height: 34px;
}
.treeSelectDropDown {
  max-width: 250px;
  max-height: 300px;
}
